<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Container for metadata (is not displayed)
    Title, Styles, Link,-->

</head>
<body>
    Welcome to Java Spring Developer Course !!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>

    <h1 align="center" style="color: blue"></h1>

    <img src="/images/cat.jpg" align="center" alt="This is alt text">
    <a href="https://www.google.com">Google</a>

    <table>
        <tr>
            <td>MVC</td>
            <td>ORM</td>
            <td>Value</td>
        </tr>

    </table>

    <table>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter your comments:</label>
    <textarea name="comments"></textarea><br>

    <label>Please select your favorite subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC<br>
    <input type="radio" name="Fall" value="DI">DI<br>
    <input type="radio" name="Winter" value="MVC" checked="checked">MVC<br>

    <label>Please select your favorite subject:</label><br>
    <input type="checkbox" name="Spring" value="IoC" checked="checked">IoC<br>
    <input type="checkbox" name="Fall" value="DI">DI<br>
    <input type="checkbox" name="Winter" value="MVC" checked="checked">MVC<br>

    <label>Please select your company:</label><br>
    <select name="cars">
        <option value="Honda">Honda</option>
        <option value="Toyota">Toyota</option>
        <option value="Mazda">Mazda</option>
    </select>

    <form action="#" method="get">
        First name:<input type="text" name="first_name"/>
        <br>
        Last name:<input type="text" name="last_name"/>
        <br>

    </form>

</body>
</html>